language: racket
sudo: required
dist: trusty
env:
  global:
    - RACKET_DIR=~/racket
  matrix:
    - RACKET_VERSION=HEAD

before_install:
 - git clone https://github.com/greghendershott/travis-racket.git
 - cat travis-racket/install-racket.sh | bash
 - git clone https://github.com/scottkosty/install-tl-ubuntu.git
 - sudo ./install-tl-ubuntu/install-tl-ubuntu
 - source /etc/environment
 - export PATH="${RACKET_DIR}/bin:${PATH}"

install:

before_script:

script:
 - make install
 - make test-ci
 - make html
 - make pdf

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: out
  on:
    branch: master
